<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header') %>
  
  <body class="bg-red-300">
    <div class="flex justify-between">
        <div class="bg-gray-800 w-1/4 h-screen fixed">
          <!-- Navigation links go here -->
          <%- include('../partials/navbar') %>
        </div>
        <div class="p-4 w-3/4" style="position: relative; left: 25%;">
        <div class="flex justify-center">
          <!-- card here -->
          <div class="bg-bg p-6 shadow-accent shadow-md rounded-md w-[95%]">
            <div class="border-b border-b-primary">
              <h1 class="font-bold text-3xl mt-2 text-primary">
                Add your Story
              </h1>
              <p class="text-xs mb-4 text-secondary">
                Create public and private stories from your life
              </p>
            </div>
            <div class="mt-3 mb-2">
              <form action="/stories/add" method="POST">
                <label for="title" class="text-secondary font-medium"
                  >Title</label
                >
                <input
                  type="text"
                  placeholder=""
                  name="title"
                  class="w-full rounded-md mb-2 p-2 bg-red-100 mt-1"
                />

                <label for="desc" class="text-secondary font-medium"
                  >Description</label
                >
                <input
                  type="text"
                  placeholder=""
                  name="desc"
                  class="w-full rounded-md mb-2 p-2 mt-1 bg-red-100"
                />

                <p class="text-secondary font-medium">Content</p>
                
                <textarea id="editor" name="body" rows="9" class="rounded-md w-full mb-2 p-2 bg-red-100 mt-1"></textarea>

                <label for="status" class="text-secondary font-medium"
                  >Share as</label
                >
                <select
                  name="status"
                  id=""
                  aria-placeholder="Select status"
                  class="w-full rounded-md mb-4 p-2 bg-red-100 mt-1"
                >
                  <!-- <option value="">Select Status</option> -->
                  <option value="public">Public</option>
                  <option value="private">Private</option>
                </select>

                <a href=""
                  ><button
                    class="px-3 py-2 hover:bg-secondary text-red-50 rounded-md bg-accent hover:text-red-200"
                    type="submit"
                  >
                    Share
                  </button></a>
                <a href="/dashboard"
                  ><button
                  type="reset"
                    class="px-3 py-2 hover:bg-secondary text-secondary rounded-md bg-red-200 hover:text-red-200"
                  >
                    Cancel
                  </button></a>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>
