<div class="my-48">
  <ul class=" text-center">
    <li class="p-4 text-bg hover:bg-gray-700 hover:text-white">
      <a href="/dashboard" class="">Dashboard</a>
    </li>
    <li class="p-4 text-bg hover:bg-gray-700 hover:text-white">
      <a href="/stories">Stories</a>
    </li>
    <li class="p-4 text-bg hover:bg-gray-700 hover:text-white">
      <a href="/stories/compose">Compose</a>
    </li>
    <li class="p-4 text-bg hover:bg-gray-700 hover:text-white">
      <a href="/auth/logout">Logout</a>
    </li>
  </ul>
</div>

